body { margin: 0; background: #111111; font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif; }
.canvas { margin: 0 auto; width: 393.0px; height: 852.0px; position: relative; }
.node_1_75 {
  position: absolute;
  left: -1.1368683772161603e-13px;
  top: 0.0px;
  width: 393.0px;
  height: 852.0px;
  background-color: rgba(250, 250, 250, 1.0);
  border-radius: 32.0px;
}
.node_1_110 {
  position: absolute;
  left: -1.1368683772161603e-13px;
  top: 831.0px;
  width: 393.0px;
  height: 21.0px;
}
.node_1_111 {
  position: absolute;
  left: 127.0px;
  top: 839.0px;
  width: 139.0px;
  height: 5.0px;
  background-color: rgba(44, 25, 77, 1.0);
  border-radius: 100.0px;
}
.node_1_112 {
  position: absolute;
  left: 32.0px;
  top: 170.0px;
  width: 154.0px;
  height: 58.0px;
  background-color: rgba(54, 51, 65, 1.0);
  font-family: 'Inter', sans-serif;
  font-size: 48.0px;
  font-weight: 700;
  line-height: 57.60000228881836px;
  letter-spacing: -0.96px;
  text-align: left;
  vertical-align: middle;
  white-space: pre-wrap;
}
.node_1_114 {
  display: flex;
  flex-direction: column;
}
.node_1_115 {
  display: flex;
  flex-direction: row;
  gap: 10.0px;
  align-items: center;
  border: 1.0px solid rgba(215, 215, 215, 1.0);
  border-radius: 8.0px 8.0px 0.0px 0.0px;
}
.node_1_116 {
  background-color: rgba(54, 51, 65, 1.0);
  font-family: 'Inter', sans-serif;
  font-size: 15.0px;
  font-weight: 500;
  line-height: 18.0px;
  letter-spacing: -0.3px;
  text-align: left;
  vertical-align: middle;
  white-space: pre-wrap;
}
.node_1_117 {
  display: flex;
  flex-direction: row;
  gap: 10.0px;
  align-items: center;
  border: 1.0px solid rgba(215, 215, 215, 1.0);
  border-radius: 0.0px 0.0px 8.0px 8.0px;
}
.node_1_118 {
  background-color: rgba(192, 192, 192, 1.0);
  font-family: 'Inter', sans-serif;
  font-size: 15.0px;
  font-weight: 500;
  line-height: 18.0px;
  letter-spacing: -0.3px;
  text-align: left;
  vertical-align: middle;
  white-space: pre-wrap;
}
.node_1_120 {
  display: flex;
  flex-direction: column;
  gap: 8.0px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(149, 34, 140, 1.0) 0%, rgba(58, 60, 179, 1.0) 100%);
  border-radius: 62.0px;
}
.node_1_123 {
  background-color: rgba(255, 255, 255, 1.0);
  font-family: 'Inter', sans-serif;
  font-size: 15.0px;
  font-weight: 600;
  line-height: 22.0px;
  letter-spacing: -0.15px;
  text-align: center;
  vertical-align: middle;
  white-space: pre-wrap;
}
.node_1_125 {
  display: flex;
  flex-direction: column;
  gap: 8.0px;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 224, 230, 1.0);
  border-radius: 62.0px;
}
.node_1_126 {
  background-color: rgba(54, 51, 65, 1.0);
  font-family: 'Inter', sans-serif;
  font-size: 15.0px;
  font-weight: 600;
  line-height: 22.0px;
  letter-spacing: -0.15px;
  text-align: center;
  vertical-align: middle;
  white-space: pre-wrap;
}
.node_1_127 {
  position: absolute;
  left: 16.0px;
  top: 778.0px;
  width: 361.0px;
  height: 37.0px;
  background-color: rgba(54, 51, 65, 0.800000011920929);
  font-family: 'Inter', sans-serif;
  font-size: 13.0px;
  font-weight: 500;
  line-height: 15.600000381469727px;
  letter-spacing: -0.26px;
  text-align: center;
  vertical-align: middle;
  white-space: pre-wrap;
}