/* Reset */
* { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; padding: 20px; background: #111; display:flex; justify-content:center; }
.canvas { position: relative; width: 393px; height: 852px; background: transparent; }
.node-1-75 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 393px;
  height: 852px;
  background: rgba(250, 250, 250, 1.0);
  border-radius: 32.0px;
}
.node-1-110 {
  position: absolute;
  left: 0px;
  top: 831px;
  width: 393px;
  height: 21px;
}
.node-1-111 {
  position: absolute;
  left: 127px;
  top: 839px;
  width: 139px;
  height: 5px;
  background: rgba(44, 25, 77, 1.0);
  border-radius: 100.0px;
}
.node-1-112 {
  position: absolute;
  left: 32px;
  top: 170px;
  width: 154px;
  height: 58px;
  font-family: 'Inter', sans-serif;;
  font-size: 48.0px;;
  font-weight: 700;;
  line-height: 57.60000228881836px;;
  letter-spacing: -0.96px;;
  text-align: left;;
  color: rgba(54, 51, 65, 1.0);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  text-align: left;
}
.node-1-114 {
  position: absolute;
  left: 32px;
  top: 252px;
  width: 329px;
  height: 117px;
  display: flex;
  flex-direction: column;
}
.node-1-115 {
  position: static;
  width: 329px;
  height: 58px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border: 1.0px solid rgba(215, 215, 215, 1.0);
  border-radius: 8.0px 8.0px 0.0px 0.0px;
  padding: 20.0px 16.0px 20.0px 16.0px;
}
.node-1-116 {
  position: static;
  width: 120px;
  height: 18px;
  font-family: 'Inter', sans-serif;;
  font-size: 15.0px;;
  font-weight: 500;;
  line-height: 18.0px;;
  letter-spacing: -0.3px;;
  text-align: left;;
  color: rgba(54, 51, 65, 1.0);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  text-align: left;
}
.node-1-117 {
  position: static;
  width: 329px;
  height: 59px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border: 1.0px solid rgba(215, 215, 215, 1.0);
  border-radius: 0.0px 0.0px 8.0px 8.0px;
  padding: 20.0px 16.0px 20.0px 16.0px;
}
.node-1-118 {
  position: static;
  width: 69px;
  height: 18px;
  font-family: 'Inter', sans-serif;;
  font-size: 15.0px;;
  font-weight: 500;;
  line-height: 18.0px;;
  letter-spacing: -0.3px;;
  text-align: left;;
  color: rgba(192, 192, 192, 1.0);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  text-align: left;
}
.node-1-120 {
  position: absolute;
  left: 16px;
  top: 662px;
  width: 361px;
  height: 46px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(149, 34, 140, 1.0) 0%, rgba(58, 60, 179, 1.0) 100%);
  border-radius: 62.0px;
}
.node-1-123 {
  position: static;
  align-self: center;
  width: 49px;
  height: 22px;
  font-family: 'Inter', sans-serif;;
  font-size: 15.0px;;
  font-weight: 600;;
  line-height: 22.0px;;
  letter-spacing: -0.15px;;
  text-align: center;;
  color: rgba(255, 255, 255, 1.0);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.node-1-125 {
  position: absolute;
  left: 16px;
  top: 720px;
  width: 361px;
  height: 46px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background: rgba(225, 224, 230, 1.0);
  border-radius: 62.0px;
}
.node-1-126 {
  position: static;
  align-self: center;
  width: 110px;
  height: 22px;
  font-family: 'Inter', sans-serif;;
  font-size: 15.0px;;
  font-weight: 600;;
  line-height: 22.0px;;
  letter-spacing: -0.15px;;
  text-align: center;;
  color: rgba(54, 51, 65, 1.0);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.node-1-127 {
  position: absolute;
  left: 16px;
  top: 778px;
  width: 361px;
  height: 37px;
  font-family: 'Inter', sans-serif;;
  font-size: 13.0px;;
  font-weight: 500;;
  line-height: 15.600000381469727px;;
  letter-spacing: -0.26px;;
  text-align: center;;
  color: rgba(54, 51, 65, 0.800000011920929);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}